.daily-wrapper {
    list-style-type: none;
    padding: 0;
}
.daily-wrapper:before {
    content: "Browse by Day: ";
    font-size: .75rem;

}
.daily-wrapper li {
    display: inline;
}
.no-link {
    font-size: .75rem;
    padding: 6px;
    margin: 0 3px;
    border: 1px solid #aeaeae;
    color: #444;
}
.daily-wrapper li a {
    font-size: .75rem;
    display: inline-block;
    padding: 6px;
    margin: 0 3px;
    border: 1px solid #444;
    color: #444;
}
.daily-wrapper li a:hover {
    background: #CCCCDD;
    color: white;
}
.daily-wrapper li a:visited {
    color: #444;
}
.return-link, .return-link:visited {
    font-size: .75rem;
    padding: 6px;
    margin: 0 3px;
    border: 1px solid #444;
    color: #444;
}
